*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #160040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
}

h1,
h2 {
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 80%;
    background-color: #4C0070;
    color: white;
}

#formCargarProductos {
    background-color: #4C0070;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 80%;
    gap: 30px;
    margin: auto;
    padding: 20px;
}

label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 5%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid white;
}

label input,
label select {
    width: 70%;
    outline: none;
    padding: 6px 10px;
}